{% extends "auth_layout.html" %}
{% load widget_tweaks %}

<!-- https://getbootstrap.com/docs/5.1/forms/floating-labels/#example -->
<!-- https://github.com/jazzband/django-widget-tweaks -->

{% block content %}
<div class="box-title"></div>
<p class="text-dark mb-4">Tyoutor - Skills Galore</p>
<div class="form-container">
    <form method="POST">
        {% csrf_token %}

        <div class="form-floating mb-3 top-row">
            {% render_field form.username class="form-control" id="floatingUsername" placeholder="Username" %}
            <label for="floatingUsername">Username</label>
        </div>

        <div class="form-floating mb-3">
            {% render_field form.password class="form-control" id="floatingPassword" placeholder="Password" %}
            <label for="floatingPassword">Password</label>
        </div>

        {% if form.errors %}
        <div class="text-danger my-3">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-lg btn-primary auth-btn">Login</button>
        </div>

        <!-- django registraion link -->
        <p class="text-dark mt-4 lgb">
            Or <a href="{% url 'django_registration_register' %}" class="auth-link">Create an Account</a>
        </p>
    </form>
</div>
{% endblock %}